<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 2</title>
</head>
<body>
    
    <div id="app">

        <h1>{{titulo}}</h1>

        <ul>
            <li v-for="fruta of frutas">
                <!--
                    Permite almacenar los cambios en vivo en la variable frutas.stock
                    -- al utilizar un input la variable cambia a String
                    se puede colocar el tipo de variable que deseamos luego del v-model
                    ejemplo: v-model.number--
                -->
                <input type="number" v-model.number="fruta.stock">
                {{fruta.nombre}}
                <span v-if="fruta.stock === 0"> | ¡Sin Stock!</span>
                <!--
                    Vue permite operar variables data directamente desde el evento de un botón
                -->
                <button @click="fruta.stock++">+</button>
            </li>
        </ul>

        <!-- 
            Se pueden llamar funciones Calculated desde la vista siempre y cuando esta posea un Return
        -->
        <h4>TOTAL: {{sumarFrutas}}</h4>

        <!--Las keyups permiten efectuar una función al presionar una tecla-->
        <!-- 
            https://es.vuejs.org/v2/guide/events.html
            Listado de códigos para cada tecla en keyup
        -->
        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <button @click="agregarFruta">Agregar</button>
    </div>

    <script src="../vue.js"></script>
    <script src="main.js"></script>
</body>
</html>